//Set up modules
@use "variables";

/*-------------------------
Set up the body basics
----------------------------*/

body {
    color: variables.$background-color;
    background-color: variables.$background-color;
    font-family: variables.$fonts-body;
    padding: 30px;
    margin: 50px;

    /*spiral galaxy
    Photo by <a href="https://unsplash.com/ko/@liuchen37?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Chen Liu</a> on <a href="https://unsplash.com/photos/jgt81f_UDuU?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    Photo by Chen Liu on Unsplash*/
    background-image: url("../images/galaxy.webp");
}


h1,
h2,
h3,
h4 {
  font-family: variables.$fonts-headline;
  color: variables.$accent1;
  margin: 0;
  transition: 0.2s;

}
header {
    font-family: "michroma", Arial, sans-serif;
    font-size: larger;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    }

 h1:hover, h2:hover {
    color: variables.$text-dark;
    transition: all 0.7s;
 }
 .intro h3, .main h3 {
    transition: all 1.3s ease;}

  .intro h3:hover, .main h3:hover {
    font-size: 2rem;
    transition: all 0.7s;
    
 }  


  footer {
    text-align: center;
    }
  
  .intro h3, .supporting h3 {
    background-color: white;
    border-radius: 5px;
  }
  a {
    color: #FC3D21;
    transition: all 0.4s ease;
  }
  a:hover {
    color: variables.$text-light;
    font-size: 1.1rem;
    transition: all 0.7s ease;

  }


  abbr {
    color: variables.$text-light;
  }

  //This is for the abbr in the heading.
  .intro header abbr {
    color: variables.$primary;
  }

  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  /* Desktop adjustments */
  @media only screen and (min-width: 710px) {
    .page-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: minmax(150px, auto);
      gap: 10px;
    }
      .intro, .supporting, .explanation {
      grid-column: span 2;
    }
      aside.sidebar {
      grid-column: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
  /*Mobile Adjustments */
  @media only screen and (max-width: 680px) {

    .page-wrapper{
      grid-template-columns: 1fr;
    }
  };
    






/*------------------------------------------
    Side bar flex set up and design.   
    Three planets
-------------------------------------------*/
.wrapper {
    display: flex;
    flex-direction: column;
}




/*----------------------------------------------------------
Select a design  set up and design.  Navigation flex set up.
Make look like a large planet
-----------------------------------------------------------*/

.design-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.design-selection nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25.5rem;
    width: 25.5rem;
    background-image: linear-gradient(-26deg, variables.$primary 20%,         
        variables.$accent1, variables.$grey-sidebar, variables.$text-dark,
        variables.$primary,variables.$background-color,
        variables.$primary 98%);        
    border-radius: 50%;
    font-family: variables.$fonts-body;  
    font-weight: bolder;
    font-size: 1.2rem;
    padding: .7rem;
}
.design-selection a, .design-selection nav {
    color: variables.$text-light;
}

.design-archives ul, .design-selection ul {
  padding-left: 0;
}
.design-selection a  {
    text-decoration: none;
   }
.design-selection ul {
    list-style-type: none;
}
.design-selection li {
    padding-top: .5rem;
    color: variables.$background-color;
}
.design-selection h3 {    
    font-family: variables.$fonts-headline;
    font-weight: bold;
    margin-bottom: 0; 
    font-size: 1.75rem; 
    color: variables.$background-color;    
}




/*----------------------------------------------------------
Archives area set up and design.  Navigation flex set up
Make look like a small planet
----------------------------------------------------------*/

.design-archives {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.design-archives nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    background-image: linear-gradient(-36deg, variables.$accent1 20%,         
        variables.$text-light,
        variables.$background-color, variables.$accent1 80%);        
    border-radius: 50%;
    font-family: variables.$fonts-body;  
    font-weight: bolder;
    font-size: 1.2rem;
    padding: .5rem;
}
.design-archives a, .design-selection nav {
    color: variables.$text-dark;
}

.design-archives a  {
    text-decoration: none;
   }
.design-archives ul {
    list-style-type: none;
}
.design-archives li {
    padding-top: .5rem;
}
.design-archives h3 {    
    font-family: variables.$fonts-headline;
    font-weight: bold;
    margin-bottom: 0; 
    font-size: 1.75rem; 
    color: variables.$background-color;   
}



/*------------------------------------------------------
Resources set up and design. Navigation flex set up
Make look like a medium planet
------------------------------------------------------*/
.zen-resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zen-resources ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18rem;
    width: 18rem;
    background-image: linear-gradient(36deg, variables.$background-color 15%,
        variables.$primary, variables.$text-dark, variables.$primary 55%, variables.$grey-sidebar, 
        variables.$primary, variables.$background-color 85%);        
    border-radius: 50%;
    font-family: variables.$fonts-body;  
    font-weight: bolder;
    font-size: 1.2rem;
    padding: .5rem;
    list-style-type: none;
}
.zen-resources a, .zen-resources ul {
    color: variables.$text-light;
}

.zen-resources a  {
    text-decoration: none;
   }

.zen-resources li {
    padding-top: .5rem;
}
.zen-resources h3 {    
    font-family: variables.$fonts-headline;
    font-weight: bold;
    margin-bottom: 0; 
    font-size: 1.75rem; 
    color: variables.$background-color;   
}
