//Set up modules
@use "variables";

/*-------------------------
Set up the body basics
----------------------------*/

body {
    color: variables.$primary;
    background-color: variables.$background-color;
}









/*------------------------------------------
    Side bar flex set up and design.   
    Three planets
-------------------------------------------*/
.wrapper {
    display: flex;
    flex-direction: column;
    background-color: variables.$grey-sidebar;
}




/*----------------------------------------------------------
Select a design  set up and design.  Navigation flex set up.
Make look like a large planet
-----------------------------------------------------------*/

.design-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.design-selection nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25.5rem;
    width: 25.5rem;
    background-image: linear-gradient(-26deg, variables.$primary 20%,         
        variables.$accent1, variables.$grey-sidebar, variables.$text-dark,
        variables.$primary,variables.$background-color,
        variables.$primary 98%);        
    border-radius: 50%;
    font-family: variables.$fonts-body;  
    font-weight: bolder;
    font-size: 1.2rem;
    padding: .7rem;
}
.design-selection a, .design-selection nav {
    color: variables.$background-color;
}
.design-selection a, .design-selection nav {
    color: variables.$background-color;
}
.design-selection a  {
    text-decoration: none;
   }
.design-selection ul {
    list-style-type: none;
}
.design-selection li {
    padding-top: .5rem;
    color: variables.$background-color;
}
.design-selection h3 {    
    font-family: variables.$fonts-headline;
    font-weight: bold;
    margin-bottom: 0; 
    font-size: 1.75rem; 
    color: variables.$text-light;    
}




/*----------------------------------------------------------
Archives area set up and design.  Navigation flex set up
Make look like a small planet
----------------------------------------------------------*/

.design-archives {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.design-archives nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    background-image: linear-gradient(-36deg, variables.$accent1 20%,         
        variables.$text-light,
        variables.$background-color, variables.$accent1 80%);        
    border-radius: 50%;
    font-family: variables.$fonts-body;  
    font-weight: bolder;
    font-size: 1.2rem;
    padding: .5rem;
}
.design-archives a, .design-selection nav {
    color: variables.$text-dark;
}

.design-archives a  {
    text-decoration: none;
   }
.design-archives ul {
    list-style-type: none;
}
.design-archives li {
    padding-top: .5rem;
}
.design-archives h3 {    
    font-family: variables.$fonts-headline;
    font-weight: bold;
    margin-bottom: 0; 
    font-size: 1.75rem; 
    color: variables.$text-light;   
}



/*------------------------------------------------------
Resources set up and design. Navigation flex set up
Make look like a medium planet
------------------------------------------------------*/
.zen-resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zen-resources ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18rem;
    width: 18rem;
    background-image: linear-gradient(36deg, variables.$background-color 15%,
        variables.$primary, variables.$text-dark, variables.$primary 55%, variables.$grey-sidebar, 
        variables.$primary, variables.$background-color 85%);        
    border-radius: 50%;
    font-family: variables.$fonts-body;  
    font-weight: bolder;
    font-size: 1.2rem;
    padding: .5rem;
    list-style-type: none;
}
.zen-resources a, .zen-resources ul {
    color: variables.$text-light;
}

.zen-resources a  {
    text-decoration: none;
   }

.zen-resources li {
    padding-top: .5rem;
}
.zen-resources h3 {    
    font-family: variables.$fonts-headline;
    font-weight: bold;
    margin-bottom: 0; 
    font-size: 1.75rem; 
    color: variables.$text-light;   
}
